{%load staticfiles %}
<!DOCTYPE html>

<html>
<head>
	<link rel="stylesheet" type="text/css" href="{% static 'taskmanager/style.css'%}" />
	<script>
		var edit = false;

		function switchEdit(id, edit_id) 
		{
			if (!edit)
			{
				document.getElementById(id).style.display="none";
				document.getElementById(edit_id).style.display="block";
				document.getElementById("comment_text").innerHTML = document.getElementById(id).innerHTML;
				edit = true;
			}
			else
			{
				document.getElementById(id).style.display="block";
				document.getElementById(edit_id).style.display="none";
				edit = false;
			}
		}
	</script>
</head>

<body>
	<div id='task_container'>
		{% if task %}
			<h1> 
				<div id='task_label'> {{ task }} </div>
				{% if task.done%} <div id='done_label'> Done </div>
				{% else %} <div id='undone_label'> Not done </div> {% endif %}
			</h1>

			<div id='section_label'> 
				<h2 id='task_label'> Описание </h2> 
				<div 	id='left_button' 
						onclick='switchEdit("description", "description_edit")'
				> 
						<img src='/taskmanager/edit_16x16.gif' alt='edit'/>
				</div> 
			</div>

			<p id='description'> {{task.description}} </p>

			<div id='description_edit'>
				<form if='form', action="{% url 'edit_description' task.id %}" method="post">
					{% csrf_token %}
					<textarea id="comment_text" type="textarea" name="name" cols='80'> My text </textarea>
					<input id="submit_button" type="submit" value="Сохранить">
				</form>
			</div>

			<h2> Комментарии </h2>
			{% for comment in task.comment_set.all %}
				<div id="comment_container">
					<div id="comment_content"> {{ comment.content }} </div>
					<div id='button' onclick='location.href="/taskmanager/{{task.id}}/delete_comment/{{comment.id}}"'>[X]</div>
				</div>
			{% endfor %}

			<div>
				<form id='form' action="{% url 'add_comment' task.id %}" method="post">
					{% csrf_token %}
					<label>Новый комментарий</label>
					<!-- input id="comment_text" type="textarea" rows='10' name="content"/> -->
					<textarea id="comment_text" name="content" rows='6' cols='80'></textarea>
					<input id="submit_button" type="submit" value="Добавить">
				</form>
			</div>
		{% endif %}
	</div>
	<div id='button' onclick='location.href="/taskmanager/";'> На главную </div>
	<!-- <div id='button' onclick='location.href="/taskmanager/{{task.id}}/add_comment/";'> Добавить комментарий </div> -->
</body>

</html>
