{%load staticfiles %}
<!DOCTYPE html>

<html>
<head>
	<link rel="stylesheet" type="text/css" href="{% static 'taskmanager/style.css'%}" />
</head>

<body>
	<div id='task_container'>
		{% if task %}
			<h1> 
				<div id='task_label'> {{ task }} </div>
				{% if task.done%} <div id='done_label'> Done </div>
				{% else %} <div id='undone_label'> Not done </div> {% endif %}
			</h1>

			<h2> Описание </h2>
			<p> {{task.description}} </p>

			<h2> Комментарии </h2>
			{% for comment in task.comment_set.all %}
				<p> {{ comment.content }} </p>
			{% endfor %}
		{% endif %}
	</div>
	<div id='button' onclick='location.href="/taskmanager/";'> На главную </div>
	<div id='button' onclick='alert("add comment");'> Добавить комментарий </div>
</body>

</html>